/target
/node
/frontend/static/all.js
/frontend/static/all.js.map
/frontend/static/*.eot
/frontend/static/*.svg
/frontend/static/*.ttf
/frontend/static/*.woff
/frontend/static/*.woff2
/frontend/node_modules
